<div style="background: #fff; ">
<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= hidden_field_tag "work[category_ids][]", nil %>
    <% Category.all.each do |category|  %>
      <%= check_box_tag "work[category_ids][]", category.id, @work.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %><br>
    <% end  %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_area :subtitle %>
  </div>
  <div class="field">
    <%= f.label :svg %><br />
    <%= f.text_area :svg %>
  </div>

  <div class="field">
    <%= f.label :post_a %><br />
    <%= f.text_area :post_a %>
  </div>
    <div class="field">
    <%= f.label :post_b %><br />
    <%= f.text_area :post_b %>
  </div>
  <div class="field">
    <%= f.label :post_c %><br />
    <%= f.text_area :post_c %>
  </div>
  <div class="field">
    <%= f.label :post_d %><br />
    <%= f.text_area :post_d %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
