

      <div class="contents">
      <%= render '/site-bar' %>

      <div class="w-main-works group">
        <%= render '/quasi-side-bar' %>
       
        <div class="w-select-nav">
          <% count = 0 %>
          <% @works.each do |work| %>

            <article class="work-item" data-project="<%= work.id %>" data-category="<%#= work.categories.pluck(:name) %>">
              <header class="w-article-title ">
                 <%=raw work.svg %>
                  <span class="article-number">
                    <% if count < 10 %>
                     0<%= count %>
                    <% else %>
                     <%= count %>
                    <% end %>
                    </span>
                    <h1 class="article-name"><%= work.name %></h1>
                    <div class="categories-total n-visible">
                      <% work.categories.pluck(:name).each do |n| %>
                       <span class="n-visible sections"><%= n %></span>
                      <% end %>
                    </div>
                </header>
              </a>
            </article>
            <% count += 01 %>
          <% end %>

        </div>

        <div class="w-feat-prev hidden-phone ">
          <div class="w-feat-img">
            <img class="feat-img" src="http://placehold.it/1280x700" >
          </div>
          <div class="w-feat-panel">
            <div class="feat-panel">
              <div class="w-feat-content">
                <h1 class="feat-title">Morning Harwood</h1>

                <p class="feat-desc">
                    Welcome to Morning Harwood. A site where I track my process + progress.
                </p>
              </div>
              <div class="to-project-blocker">
                <div class="w-to-project">
                  <div class="to-project">
                      
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>

    </div><!--end of contents-->

