<p id="notice"><%= notice %></p>
<div class="project-img-container">
	<div class="modal-image-0">
		<%= image_tag @work.avatar.url(:medium), :class => "featured" %>
	</div>

	<div class="modal-image-1">
		<%= image_tag @work.avatar_b.url(:medium), :class => "featured" %>
	</div>
</div>
<p>
  <b>Name:</b>
  <%= @work.name %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @work.subtitle %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
