<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : 'Works' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="w-modal-nav ">
	<div class="modal-nav">
		<h1 class="category-title centered">Departement</h1>
		<div class="centered prev "><div><</div></div>
		<div class="centered next "><div>></div></div>
		<div class="centered close-model-2 "><div>x</div></div>

	</div>
</div>
<div id="page-container">
	<%= render '/side-bar' %>
	<%= yield %>
</div>

<%= render '/footer' %>
	<script>
		var meny = Meny.create({
			menuElement: document.querySelector( '.meny' ), contentsElement: document.querySelector( '.contents' ),	position: Meny.getQuery().p || 'left', height: 200,	width: 260,	threshold: 80,	mouse: true, touch: true});
		if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
			var contents = document.querySelector( '.contents' );
			contents.style.padding = '0px';
			contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
		}
	</script>

</body>
	
</html>
